
/* ---------- Color Module Styles ----------- */

body {
  color:#3B3B3B;
}

#site-name {
  color:#828282;
}

#site-slogan a {
  color:#adadad;
}

#header-bg,
#sidebar-right .block .block-title,
#sidebar-left .block .block-title,
.view .view-content thead,
.sticky-enabled thead,
ul.primary li.active a {
  background-color: gray;
  background-image: -moz-linear-gradient(top, #9c9c9c 0%, #717171 100%);
  background-image: -ms-linear-gradient(top, #9c9c9c 0%, #717171 100%);
  background-image: -o-linear-gradient(top, #9c9c9c 0%, #717171 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #9c9c9c), color-stop(1, #717171));
  background-image: -webkit-linear-gradient(top, #9c9c9c 0%, #717171 100%);
  background-image: linear-gradient(top, #9c9c9c 0%, #717171 100%);
}

.date-day,
#block-system-main-menu   li a:hover,
#block-poll-recent .content .bar .foreground,
#block-system-main .content .bar .foreground {
  background-color: #1f8cb8;
  background-image: -moz-linear-gradient(left, #1177a2 0%, #59b9e1 100%);
  background-image: -ms-linear-gradient(left, #1177a2 0%, #59b9e1 100%);
  background-image: -o-linear-gradient(left, #1177a2 0%, #59b9e1 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #1177a2), color-stop(1, #59b9e1));
  background-image: -webkit-linear-gradient(left, #1177a2 0%, #59b9e1 100%);
  background-image: linear-gradient(left, #1177a2 0%, #59b9e1 100%);
}

.block-title-gradient,
.comment .comment-number {
  background-image: -moz-linear-gradient(top, #1177a2 0%, #59b9e1 100%);
  background-image: -ms-linear-gradient(top, #1177a2 0%, #59b9e1 100%);
  background-image: -o-linear-gradient(top, #1177a2 0%, #59b9e1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1177a2), color-stop(1, #59b9e1));
  background-image: -webkit-linear-gradient(top, #1177a2 0%, #59b9e1 100%);
  background-image: linear-gradient(<top></top>, #1177a2 0%, #59b9e1 100%);
}

a,
ul li a,
ul li a.active,
.taxonomy-term-reference,
ul.pager li.pager-current {
  color:#259ACB;
}
#block-comment-recent .content .item-list ul li a:hover,
#block-system-navigation .content ul.menu li a:hover {
  color:#259ACB;
}

#comments .comment-odd {
  background-color: #fff;
  background-image: -moz-linear-gradient(left, #fafafa 0%, #fff 100%);
  background-image: -ms-linear-gradient(left, #fafafa 0%, #fff 100%);
  background-image: -o-linear-gradient(left, #fafafa 0%, #fff 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #fafafa), color-stop(1, #fff));
  background-image: -webkit-linear-gradient(left, #fafafa 0%, #fff 100%);
  background-image: linear-gradient(left, #fafafa 0%, #fff 100%);
}

#comments .comment-even {
  background-color: #fff;
  background-image: -moz-linear-gradient(left, #dff6ff 0%, #fff 100%);
  background-image: -ms-linear-gradient(left, #dff6ff 0%, #fff 100%);
  background-image: -o-linear-gradient(left, #dff6ff 0%, #fff 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #dff6ff), color-stop(1, #fff));
  background-image: -webkit-linear-gradient(left, #dff6ff 0%, #fff 100%);
  background-image: linear-gradient(left, #dff6ff 0%, #fff 100%);
}

.node #comments .admin-comment,
.comment-by-node-author {
  background-color: #fff;
  background-image: -moz-linear-gradient(left, #fff1c2 0%, #fff 100%);
  background-image: -ms-linear-gradient(left, #fff1c2 0%, #fff 100%);
  background-image: -o-linear-gradient(left, #fff1c2 0%, #fff 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #fff1c2), color-stop(1, #fff));
  background-image: -webkit-linear-gradient(left, #fff1c2 0%, #fff 100%);
  background-image: linear-gradient(left, #fff1c2 0%, #fff 100%);
}
