body{
  background-color:"#ffffff";
  margin:0px;
}

h1,h2,h3,
h4,h5,h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: Verdana;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.9em;
}

h6 {
  font-size: 0.8em;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

 li {
  list-style:none;
}

#site_content {
  min-width: 1000px;
  max-width: 1440px;
  margin: 0 auto 0 auto;
  position: relative;
}

/* ---------- Site name, slogan and logo ----------- */

.logo {
  float: left;
  margin-right: 2%;
  padding-left: 3%;
}

#site-name-div {
  padding-left: 15%;
  padding-top: 6px;
  padding-top: 10px;
  margin-bottom: 70px;
}

#site-name {
  text-decoration: none;
  font-family: Century Gothic;
  font-size: 35px;
  font-weight: normal;
  text-shadow: #cdcdcd 1px 0px;
  margin: 0;
  float: left;
}

#site-slogan {
  padding-top: 10px;
  margin-bottom: 35px;
}

#site-slogan a {
  text-decoration: none;
  font-family: Century Gothic;
  font-size: 27px;
}

/* ---------- Search Form ----------- */

.region-header #block-search-form .form-text{
  width: 250px;
}

#block-search-form form {
  margin: 0;
}

#block-search-form .form-text,
.search-form .form-text {
  padding-left: 9px;
  height: 27px;
  color: #787777;
  border: none;
  margin: 0;
  display: block;
  float: left;
  background: url(../images/form/form-bg.png) top repeat-x;
  font-family: Trebuchet MS;
  font-size: 15px;
}

#block-search-form  .form-submit,
.search-form .form-submit {
  margin: 0;
  height: 29px;
  width: 33px;
  background: url(../images/form/submit.png) top no-repeat;
  border: none;
  cursor: pointer;
}

.search-form fieldset.search-advanced {
  clear: both;
}

.search-form fieldset.search-advanced .form-submit {
  padding: 8px;
  border: none;
  margin: 0 5px;
  color: #048bc3;
  background: none;
  border-top: solid 1px #c5c5c5;
  border-bottom: solid 1px #c5c5c5;
  cursor: pointer;
  background-color: #fff;
  width: auto;
  height: auto;
}

.search-form fieldset.search-advanced .form-text {
  height: 23px;
  width: 164px;
  border: solid 1px #bbbbbb;
  background: url(../images/form/text-form-bg.png) left repeat-x;
}

/* ---------- Main menu ----------- */

#block-system-main-menu ul {
  margin: 0;
  padding-top: 15px;
  padding-left: 12px;
}

#block-system-main-menu ul.menu li {
    line-height: 31px;
    display: inline;
    padding-left: 1px;
}

#block-system-main-menu ul.menu  li a {
  font-family: Verdana;
  font-size: 14px;
  color: white;
  line-height: 22px;
  text-decoration: none;
  padding: 6px 20px;
  height: 30px;
  margin: 0;
}

/* ---------- Header ----------- */

#header {
  height: 165px;  
}

#head-right {
  padding-left: 314px;
}

#header-bg{
  margin-top: -102px;
  height: 96px;
  border-top: solid 1px #949494;
  border-bottom: solid 1px #949494;
}

#header-mid-bg {
  background: url(../images/head-shadows/head-mid.png) left bottom repeat-x;
  height: 96px;
}

#header-bot-bg {
  background: url(../images/head-shadows/head-bottom.png) left top repeat-x;
  height: 6px;
  position: relative;
  margin-top: -6px;
}

#header-menu-bg {
  background: url(../images/head-shadows/head-menu-bg.png) left top no-repeat;
  height: 52px;
  margin-top: -58px;
  margin-left: 240px;
}

/* ---------- Second menu ----------- */

#block-menu-secondary-menu .menu {
  margin: 0;
  text-align: right;
  border-bottom: solid 1px #d4d4d4;
  background: url(../images/second-menu-bg.png) left repeat-x;
  padding: 0 60px;
}

#block-menu-secondary-menu ul.menu li {
  display: inline-block;
  padding: 0;
  height: 24px;
  padding-top: 3px;
  
}

#block-menu-secondary-menu ul.menu li a {
  font-family: Arial;
  font-size: 12px;
  line-height: 22px;
  color: #7a7a7a;
  text-decoration: none;
  background: url(../images/point.png)left no-repeat;
  padding-left: 10px;
}

#block-menu-secondary-menu ul.menu li a:hover {
  text-decoration: underline;
}

/* ---------- Other menu ----------- */

.block .content ul.menu {
  padding: 10px;
  margin: 0;
}

.block .content ul.menu li {
  list-style-image: url(../images/point.png);
  padding: 0;
  margin: 0;
}

.block .content ul.menu li a{
  font-size: 12px;
  font-family: Verdana;
  color: black;
  text-decoration: none;
}

.block .content ul.menu li a:hover {
  text-decoration: underline;
  color: #259ACB;
}

/* ---------- Content  ----------- */

#content {
  margin-top: 26px;
}

#content .block {
  margin-bottom: 25px;
}

#content .block .block-title {
  height: 36px;
  margin-bottom: 15px;
}

#content .block-line {
  background: url(../images/block-bg/block-line.png) left bottom repeat-x;
}

#content .block-title-gradient {
  width: 10px;
  height: 36px;
}

#cont {
  float: left;
  width: 100%;
  margin-right: -100%;
  padding: 0;
}

/* ---------- Sidebars  ----------- */

#sidebar-left {
  width: 210px;
  float: left;
}
#sidebar-left .block .content {
  padding: 0 10px;
}

#sidebar-left .block {
  border-top: #d3d3d3 solid 1px;
  border-right: #d3d3d3 solid 1px;
  padding-bottom: 1px;
  background: url(../images/left-block-border-bot.png) right bottom no-repeat;
}

#sidebar-left .block-title-gradient {
  margin: -35px 10px 0 auto;
}

#sidebar-right {
  width: 210px;
  float: right;
}

#sidebar-right .block .content {
  padding: 0 10px;
}

#sidebar-right .block-title-gradient {
  margin: -35px auto 0 10px;
}

#sidebar-right .block {
  border-left: #d3d3d3 solid 1px;
  border-top: #d3d3d3 solid 1px;
  padding-bottom: 1px;
  background: url(../images/left-block-border-bot.png) left bottom no-repeat;
}

.sidebar .block .content ul.menu li {
  list-style-image: url(../images/point.png);
  padding: 0;
  margin: 0;
}

.sidebar .block .content ul.menu li a{
  font-size: 12px;
  font-family: Verdana;
  color: black;
  text-decoration: none;
}

.sidebar .block .content ul.menu li a:hover {
  text-decoration: underline;
  color: #259ACB;
}

.sidebar .block h3 {
  padding: 6px 0 7px 0;
  color: #ffffff;
  text-align: center;
}

.sidebar .block .block-title h3 {
  font-family: Arial;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  margin: 0;
}

/* ---------- Content Column ----------- */

#cont-col {
  overflow: hidden;
}
body.sidebar-first #cont-col {
  margin: 0 0 0 230px;
}
body.sidebar-second #cont-col {
  margin: 0 230px 0 0;
}
body.two-sidebars #cont-col {
  margin: 0 230px;
}
#cont-col .block {
  background: url(../images/block-bg/content-block-left.png) top left no-repeat;
}

#cont-col .block .block-title {
  height: 36px!important;
  background: none;
  margin-bottom: 15px;
  background: url(../images/content-block-title.png) left top no-repeat;
  padding: 0;
}

#cont-col .block .block-title h3 {
  line-height: 22px;
  padding: 7px 0;
  font-family: Arial;
  font-size: 16px;
  margin: 0;
  color: #969696;
  text-align: left;
  padding-left: 23px
}

#cont-col .block .content {
  padding-left: 20px;
}

#cont-col .block .content .view-content .views-row-even a {
  text-decoration: none;
  font-family: Verdana;
  font-size: 12px;
  line-height: 28px;
  color: #969696;
}

#cont-col .block .content .view-content .views-row-odd a {
  color: black;
  text-decoration: none;
  font-family: Verdana;
  font-size: 12px;
  line-height: 28px;
}

#cont-col .block .content .view-content .views-row a:hover {
  color: #2f97c2;
}

#cont-col .block .block-title-gradient {
  margin-top: -36px;
}

#cont-col .block-system {
  background: none;
}

#cont-col .block-system .content {
  padding: 0;
}

#cont-col .region-content .node {
  margin-bottom: 20px;
}

/* ---------- Poll ----------- */

#block-poll-recent .content {
  background: url(../images/block-bg/poll-bg.png) right bottom no-repeat;
}

#block-poll-recent .content .poll {
  padding: 0 10px;
}

#block-poll-recent .content .poll .choices {
  margin: 0;
}

.poll .title {
  font-family: Verdana;
  line-height: 18px;
  font-weight:bold;
  font-size: 12px;
  color: black;
  margin-bottom: 20px;
}

.poll .vote-form .form-item-choice,
.poll .total, 
.content .poll .text {
  font-family: Verdana;
  font-size: 14px;
  line-height: 18px;
}

.poll .vote-form .form-item .form-item-choice {
  padding-bottom: 15px;
  margin: 0;
}

#block-poll-recent .content ul.links {
  padding: 24px 5px 14px;
  margin: 0px;
}

#block-poll-recent .content .links li a,
#block-poll-recent  .form-submit,
#block-system-main .content ul li a {
  font-size: 13px;
  line-height: 18px;
  font-family: Verdana;
}

#block-poll-recent .vote-form .form-submit {
  background: url(../images/poll-submit.png) no-repeat;
  width: 194px;
  height: 32px;
  border: none;
  padding: 0;
  color: #259ACB;
  margin-left: -25px;
  cursor: pointer;
}

#block-poll-recent .content .bar,
#block-system-main .content .bar {
  background-color: white;
  border: solid 1px #cccccc;
}

#block-poll-recent .content .bar .foreground,
#block-system-main .content .bar .foreground {
  background-image: -moz-linear-gradient(top, #1177a2 0%, #59b9e1 100%);
  background-image: -ms-linear-gradient(top, #1177a2 0%, #59b9e1 100%);
  background-image: -o-linear-gradient(top, #1177a2 0%, #59b9e1 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1177a2), color-stop(1, #59b9e1));
  background-image: -webkit-linear-gradient(top, #1177a2 0%, #59b9e1 100%);
  background-image: linear-gradient(top, #1177a2 0%, #59b9e1 100%);
}

#block-poll-recent .content .links li a {
  text-decoration: underline;
}

#block-poll-recent .content .links li a:hover {
  text-decoration: none!important;
}

/* ---------- Navigation block ----------- */

#block-system-navigation .content {
  background: url(../images/block-bg/navigation-bg.png) right bottom  no-repeat;
}

#block-system-navigation .content ul li a {
  font-size: 13px;
  line-height: 18px;
  font-family: Verdana;
}

/* ---------- User online block ----------- */

#block-user-online .content {
  font-family: Verdana;
  font-size:14px;
  line-height: 18px;
}

#block-user-online .content {
  background: url(../images/block-bg/online-bg.png) bottom right no-repeat;
}

/* ---------- Currency converter ----------- */

#block-currency-converter-currency-converter .content {
  background: url(../images/block-bg/currency-bg.png) left bottom no-repeat;
}

#currency_converter span {
  color: #a4a4a4!important;
}

#currency_converter .form-text {
  margin-right: 15px;
}

 #currency-converter-block-form {
    padding-bottom: 14px;
}

div#currency_converter div.additional {
  padding-right: 20px;
}

div#currency_converter  {
  width: 190px;
}

/* ---------- Breadcrumbs ----------- */

.breadcrumb a {
  font-size: 12px;
  font-family: Verdana;
  text-decoration: none;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

/* ---------- Last comments ----------- */

#block-comment-recent .content {
    background: url(../images/block-bg/comments-bg.png) left bottom no-repeat;
    padding-bottom: 10px;
}

#block-comment-recent .content .item-list ul,
#block-comment-recent .content .item-list ul  li {
  margin: 0;
  margin-bottom: 10px;
}

#block-comment-recent .content .item-list ul li span {
  color: #969696;
  font-family: Arial;
  font-size: 10px;
  padding-left: 37px;
}

#block-comment-recent .content .item-list ul li a {
  background: url(../images/point.png) left no-repeat;
  padding-left: 17px;
  font-size: 12px;
  font-family: Verdana;
  color: black;
  text-decoration: none;
  display: block;
}

#block-comment-recent .content .item-list ul li a:hover {
  text-decoration: underline;
  color: #259acb;
}

#block-comment-recent .content .item-list {
  padding: 0;
  text-align: left;
}

/* ---------- Nodes ----------- */

.date-wrapper {
  border: solid 1px #d7d9da;
  font-size: 16px;
  font-family: Arial;
  line-height: 22px;
  width: 52px;
  text-align: center;
}

.date-day {
  color: #fff;
  padding-top: 3px;
  width: 52px;
}

.date-month {
  color: #454545;
  width: 52px;
  padding-bottom: 3px;
}

.date-bg {
  height: 53px;
  background: url(../images/node-title-bg.png) top left no-repeat;
}

.node .title-wrapper h2,
.node .title-wrapper h1{
  margin-top: -48px;
  font-family: Verdana;
  font-size: 22px;
  line-height: 22px;
  padding: 10px 0 14px 65px;
  text-align: left;
  font-weight: normal;
  color: #048bc3;
  margin-bottom: 1em;
}

.node .title-wrapper h2 a,
.node .content .field .field-items a, a {
  text-decoration: none;
}

.node .title-wrapper h2 a:hover,
.node .content .field .field-items a:hover, a:hover {
  text-decoration: underline;
}

.node .field img {
  margin-right: 15px;
}

.field-name-body .field-item {
  font-family: Verdana;
  font-size: 13px;
  line-height: 22px;
}

.node .links a {
  font-family: Verdana;
  font-size: 13px;
  line-height: 22px;
}

.node .links a {
  text-decoration: underline;
}

.node .links a:hover {
  text-decoration: none!important;
}

.node .links-wrapper ul.links li {
  display: inline-block;
  padding-top: 3px;
}

.node .links .blog_usernames_blog {
  background: url(../images/node-link-author.png) left bottom no-repeat;
  padding-left: 25px;
}

.node .links .comment-add,
.node .links .comment-comments {
  background: url(../images/com-bg.png) left bottom no-repeat;
  padding-left: 37px;
  border-left: solid 1px #e5e5e5;
}

.node .links .comment-add .first {
  border: none;
}

.node .links .node-readmore {
  border-left: solid 1px #e5e5e5;
}

.node .links-wrapper {
  text-align: right;
  border-top: solid 1px #e5e5e5;
  margin-bottom: 7px;
  clear: left;
}

.node .field-name-field-tags {
  padding: 5px 15px;
}

.node .content .field-type-image {
  float: left;
}

.node .content {
  margin-bottom: 10px;
}

/* ---------- Taxonomy ----------- */

.field-type-taxonomy-term-reference {
  clear: both;
  margin: 5px 0;
}

.field-type-taxonomy-term-reference .field-label {
  color: #8b8b8b;
  font-family: Verdana;
  font-size: 13px;
  line-height: 22px;
  margin: 0 3px 0 0;
  font-weight: normal;
}

.field-type-taxonomy-term-reference .taxonomy-term-reference {
  display: inline;
}

.field-type-taxonomy-term-reference .taxonomy-term-reference a {
  text-decoration: none;
  font-family: Verdana;
  font-size: 13px;
  line-height: 22px;
}

.field-type-taxonomy-term-reference .taxonomy-term-reference a:hover {
  text-decoration: underline;
}

.field-name-body p {
  margin: 0;
}

/* ---------- Comments ----------- */

.comment {
  border: solid 1px #c5c5c5;
  margin-bottom: 11px;
}

.comment .links-wrapper {
  border-top: none!important;
}

.comment .submitted {
  height: 28px;
  background: url(../images/comment-author-bg.png) left top no-repeat;
}

.comment  .comment-number {
  text-align: center;
  padding: 4px 0;
  font-family: Trebuchet MS;
  font-size: 20px;
  color: #fff!important;
}

.comment  .comment-number a {
  font-family: Trebuchet MS;
  font-size: 20px;
  color: #fff!important;
}

.comment .submitted span.username,
.comment .submitted a.username {
  display: block;
  padding-left: 15px;
  float: left;  
}

.comment  .comment-number {
  width: 25px;
  float: right;
  margin-right: 10px;
}

.comment .submitted .username {
  font-family: Arial;
  font-size: 16px;
  line-height: 22px;
  color: #808283!important;
  text-decoration: none;
}

.comment .submitted a {
  text-decoration: none;
}

.comment .comment-date {
  font-family: Arial;
  font-size: 12px;
  line-height: 22px;
  margin-top: -28px;
  text-align: right;
  color: #8e8e8e;
  padding-right: 50px;
}

#comments .comment .content {  
  padding: 0 10px;
  font-weight: 100;
}

/* ---------- Comment form ----------- */

#comment-form .form-text {
  height: 23px;
  width: 164px;
  border: solid 1px #bbbbbb;
  background: url(../images/form/text-form-bg.png) left repeat-x;
}

#comment-form  .collapsible .form-type-textfield {
  display: block;
  float: none;
}

#edit-comment-body {
  clear: left;
}

#comments h2.title {
  color: #999;
  font-family: Arial;
  margin-bottom: 20px;
}

#comments .comment-unpublished {
  border: 2px solid red;
}

#comment-form label, .contact-form .form-item label {
  font-family: Arial;
  font-size: 14px;
  line-height: 22px;
  color: #999;
}

#edit-comment-body-und-0-value, .form-textarea {
  background-image: -moz-linear-gradient(top, #f1f1f1 0%, #fff 100%);
  background-image: -ms-linear-gradient(top, #f1f1f1 0%, #fff 100%);
  background-image: -o-linear-gradient(top, #f1f1f1 0%, #fff 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f1f1f1), color-stop(1, #fff));
  background-image: -webkit-linear-gradient(top, #f1f1f1 0%, #fff 100%);
  background-image: linear-gradient(top, #f1f1f1 0%, #fff 100%);
  border:solid 1px #bbbbbb;
}

.form-actions {
  text-align: center;
}

.form-actions .form-submit,
.comment-form .form-actions .form-submit,
.form-submit {
  padding: 8px;
  border: none;
  margin: 0 5px;
  color: #048bc3;
  border-top: solid 1px #c5c5c5;
  border-bottom: solid 1px #c5c5c5;
  cursor: pointer;
  background-color: #fff;
}

/* ---------- Footer ----------- */

.region-footer {
  background: url(../images/footer-bg.png) top repeat-x;
  height: 81px;
  clear: left;
  border-top: solid 1px #ececec;
  padding: 0 60px;
}

.region-footer ul.footer-list {
  padding: 0;
}

.region-footer ul.footer-list li {
  display: inline;
  padding-left: 0.7em;
}

.region-footer a {
  text-decoration: none;
  font-family: Verdana;
  font-size: 12px;
  line-height: 22px;
  color: black;
}

.region-footer .menu a {
  background: url(../images/point.png) left no-repeat;
  padding-left: 1.7em;
  margin: 0 1.2em;
}

.region-footer a:hover {
  color: #2599CA;
}

.region-footer #block-block-10 {
  padding-top: 15px;
  text-align: center;
  padding-left: 150px;
}

.region-footer #block-block-10 .content {
  margin-right: 220px;
}

/* ---------- Pager ----------- */

.item-list {
  text-align: center;
}

ul.pager li.pager-current,
.sidebar.block .content ul.pager {
  font-size: 16px;
  padding: 0;
}

ul.pager li a,
.sidebar .block .content ul.pager li a {
  font-family: Verdana;
  font-size: 14px;
  line-height: 18px;
  color: #3B3B3B!important;
  background: none!important;
}

ul.pager li a:hover,
.sidebar .block .content ul.pager li a:hover {
  color: #2489b2!important;
}

ul.pager {
  padding: 10px 0;
  margin: 0 50px;
  border-top: solid 1px #E5E5E5;
}

ul.pager li.pager-item,
.sidebar .block .content ul.pager li.pager-item {
  padding: 0;
}

ul.pager  li {
  margin: 0;
  display: list-item;
}

ul.pager a {
  text-decoration: none;
}

/* ---------- Tracker and tables ----------- */

table thead tr th, table tr td{
  border: 1px solid #ececec!important;
  font-family: Arial;
  font-size: 12px;
  line-height: 14px;
}

table thead tr th {
  text-align: center;
  padding: 5px;
  border: none;
}

table thead .views-field-title,
table thead .views-field-title-1 {
  padding: 5px 30px;
  text-align: left!important;
}

table thead th a, table thead th {
  color: #fff!important;
  text-decoration: none;
}

table thead tr {
  height: 54px;
}

table tbody tr {
  padding: 5px;
  text-align: center;
  color: #545454;
}

table tbody tr td a {
  text-decoration: none;
}

table tbody tr a:hover {
  text-decoration: underline;
}

table tbody tr.odd,
table tbody tr.odd td.active,
table tbody tr.odd,
table tbody tr.odd td.active {
  background-color: #dbdde0;
  background-image: -moz-linear-gradient(top, #e3e3e3 0%, #d3d6dc 100%);
  background-image: -ms-linear-gradient(top, #e3e3e3 0%, #d3d6dc 100%);
  background-image: -o-linear-gradient(top, #e3e3e3 0%, #d3d6dc 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e3e3e3), color-stop(1, #d3d6dc));
  background-image: -webkit-linear-gradient(top, #e3e3e3 0%, #d3d6dc 100%);
  background-image: linear-gradient(top, #e3e3e3 0%, #d3d6dc 100%);
  height: 53px;
}

table tbody .views-field-title,
table tbody .views-field-title-1  {
  padding: 5px 10px;
  text-align: left;
}

table tbody tr.even td,
table tbody tr.even td.active {
  background-color: #fff!important;
  height: 53px;
}

.view .view-content table.views-table .placeholder {
  font-style: inherit;
}

/* ---------- Tabs ----------- */

ul.primary {
  border: none;
  padding-top: 5px;
  font-family: Arial;
  font-size: 12px;
  line-height: 14px;
}

ul.primary li {
  margin: 0;
}

ul.primary li a {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #3B3B3B;
  margin-right: 0;
}

ul.primary li a:hover {
  text-decoration: underline;
  background-color: #DDD;
}

ul.primary li.active a {
  color: #fff!important;
}

/* ---------- Internet-Marketing logo ----------- */

#im {
  position: absolute;
  right: 50px;
  bottom: 15px;
}

#im a {
  background: url(../images/im.png) scroll center -78px transparent no-repeat;
  display: block;
  height: 0;
  font-size: 12px;
  padding-top: 55px;
  margin-left: 80px;
  text-align: center;
  text-decoration: none;
  color: black;
}

#im a:hover {
  background: url(../images/im.png) scroll center 7px transparent no-repeat;
  color: red;
}

/* ---------- Other styles ----------- */

.invisibly {
  visibility: hidden;
}

.radio-option {
  display: block;
  float: left;
  width: 16px;
  height: 16px;
  background: url(../images/radio-button.png) 0 -40px no-repeat;
  cursor: pointer;
}

.radio-checked {
  background-position: 0 3px;
}

.feed-icon {
  display: block;
  height: 100%;
  width: 50px;
  height: 60px;
  position: absolute;
  left: 220px;
  top: 65px;
}

.captcha {
  font-family: Arial;
  font-size: 12px;
  line-height: 1.5em;
}

.captcha .description {
  display: none;
}

.form-text {
  border: solid 1px #bbbbbb;
  height: 23px;
  background: url(../images/form/text-form-bg.png) left repeat-x;
}
