<div id="preview">
  <div id="preview-head">
    <div id="preview-logo"><img src="" alt="Site Logo" /></div>
    <div id="preview-header-right">
      <div id="preview-site-name">Your Site Name</div>
      <div id="preview-search-form">
        <form id="preview-form"><input type="text" class="text"><input type="submit" class="submit" value=""></form>
      </div>
      <div id="preview-main-menu">
        <ul>
          <li class="active"><a>Main</a></li>
          <li><a>Comments</a></li>
          <li><a>New</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="preview-header-bg"></div>

  <div id="preview-main" class="clearfix">
    <div id="preview-sidebar-left">
      <div id="preview-block-comment">
        <div id="preview-block-title"><h3><a>Title</a></h3>
          <div id="preview-block-title-gradient"></div>
        </div>
        <h5>Question</h5>
        <form action="/director/" method="post">      
          <input type="radio" value="1"><span>Answer</span><br>
          <input type="radio" value="2"><span>Answer</span><br>
          <input type="radio" value="3"><span>Answer</span><br>       
         </form>
      </div>
    </div>
    <div id="preview-cont">
      <div id="preview-cont-col">
        <div id="preview-node">
           <div id="preview-title-wrapper">
            <div id="preview-date-wrapper">
              <div id="preview-day">12</div><div id="preview-month">Оct</div>
            </div>
            <h2><a>Title</a></h2>
            </div>
            <p>Text Text Text Text Text Text Text</p> 
        </div>
        <div id="preview-node-links">
          <ul>
            <li><a>Comment</a></li>
            <li><a>Read more</a></li>
          </ul>
        </div>
        <div id="preview-comment-odd" class="prevew-comment">
          <div id="preview-comment-number">1</div>
          <p>Text Text Text Text Text Text Text</p>
        </div>
        <div id="preview-comment-even" class="prevew-comment">
          <div id="preview-comment-number">2</div>
          <p>Text Text Text Text Text Text Text</p>
        </div>
        <div id="preview-comment-admin" class="prevew-comment">
          <div id="preview-comment-number">3</div>
          <p>Text Text Text Text Text Text Text</p>
        </div>
      </div>
    </div>
    <div id="preview-sidebar-right">
      <div id="preview-block-comment">
        <div id="preview-block-title"><h3><a>Title</a></h3>
          <div id="preview-block-title-gradient"></div>
        </div>
        <ul>
          <li><a>Item</a></li>
          <li><a>Item</a></li>
          <li><a>Item</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="preview-footer-wrapper">
    <div id="preview-footer-im">
    </div>
  </div> 
</div>
