/* ---------- Color form ----------- */

#color_scheme_form #palette .form-item {
  width: 25em;
}

#color_scheme_form #palette .form-item label {
  width: 15em;
}

/* ---------- Preview Styles ----------- */

html.js #preview {
  clear: both;
  float: none !important;
}

#preview {
  background-color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden;
  word-wrap: break-word;
  margin-bottom: 10px;
}

#preview-head {
  height: 160px;
}

#preview-header-bg{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 81px;
  margin-top: -81px;
}

#preview-logo {
  float: left;
  padding: 0 15px;
}

#preview-header-right {
  padding-left: 300px;
}

#clear {
  clear: both;
}

#preview-name-menu {
  padding-left: 300px;
}

#preview-site-name {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 1.821em;
  line-height: 1;
  margin-left: 15px;
  padding-top: 34px;
}

#preview-site-slogan {
  color: #686868;
  font-weight: normal;
  font-size: 1.821em;
  line-height: 1;
  margin-left: 15px;
  padding-top: 34px;
}
 
#preview-search-form {
  margin-bottom:10px;
  text-align: right;
  padding-top: 10px;
  padding-right: 20px;
}

#preview-search-form .text {
  background-color: #D4D4D4;
  height: 29px;
}

#preview-search-form .submit {
  height: 29px;
  padding-top: 7px;
  margin: 0;
  width: 33px;
  background-image: url(../images/form/submit.png);
}

#preview-main-menu {
  padding: 0px 15px 0px;
}

#preview-main-menu a {
  padding: 0.4em 1em 0.4em;
  display: inline-block;
}

#preview-main-menu-links {
  font-size: 0.929em;
  margin: 0;
  padding: 0;
}

#preview-main-menu a {
  color: #fff;
  display: block;
}

#preview-main-menu a: active {
  background: #b3b3b3;
  background: rgba(255, 255, 255, 1);
}

#preview-main-menu li {
  display: inline-block;
  list-style-type: none;
}

#preview-main {
  margin-top: 10px;
}

#preview-sidebar-left, #preview-sidebar-right, #preview-cont {
  float: left;
}

#preview-sidebar-left, #preview-sidebar-right {
  position: relative;
  width: 150px;
}

#preview-cont {
  width: 650px;
  margin: 0 -150px;
}

#preview-cont-col {
  margin: 0 160px;
}

#preview-title-wrapper {
  height: 42px;
}

#preview-title-wrapper h2 {
  padding-left: 35px;
  padding-top: 10px;
  margin: 0;
}

#preview-date-wrapper {
  float: left;
  text-align: center;
  border: solid 1px silver;
}

#preview-node-links ul {
  text-align: right;
}

#preview-node-links ul li {
  display: inline;
  list-style: none;
  padding: 0 3px;
}

.prevew-comment {
  border: solid 1px #C5C5C5;
  margin: 10px 0;
}

#preview-comment-number {
  height: 24px;
  width: 24px;
  text-align: center;
  color: #fff;
}

#preview-block-title {
  text-align: center;
}

#preview-block-title h3 {
  margin: 0;
}

#preview-block-title-gradient {
  width: 10px;
  height: 25px;
  margin-top: -25px;
  margin-left: 10px;
}

#preview #preview-block-title a {
  color: #fff!important;
}

#preview #preview-sidebar-right ul li a {
  color: black!important;
}

#preview-sidebar-right ul li {
  list-style-image: url(../images/point.png);
}

#preview-sidebar-left ul li {
  list-style: none;
}

#preview-footer-wrapper {
  color: #c0c0c0;
  background-color: #d2d2d2;
  display: block !important;
  font-size: 0.857em;
  height: 80px;
}

#preview-footer-im {
  height: 100%;
  width: 110px;
  float: right;
  background: url(../images/im.png) scroll center -65px transparent no-repeat;
}
